

body {
    /*font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";*/
    font-family: 'Poppins', sans-serif;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #007bff; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    font-size: 14px; /* Increase font size */
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}


.navbar {
    position: fixed !important;
    right: 0 !important;
    left: 0 !important;
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    min-height: 35px !important;
    line-height: 35px !important;
    background: transparent !important;
    z-index: 1030 !important;
    color: white;
}

.flex-right {
    justify-content: flex-end;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.kiri {
    text-align: left;
}

.tengah {
    text-align: center;
}

.kanan {
    text-align: right;
}

.set-header {
    background-image: url("../image/main1.jpg");
    color: #09c;
    /*background: #09c;*/
}

.nav-scroll {
    background: #fff;
    /*-webkit-box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509803922);*/
    box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509803922);
    /*-webkit-transition: all .4s ease;*/
    transition: all .4s ease;
}

.set-nav {
    background: transparent !important;
}

header{
    position: relative;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    z-index: 888;
}


.nav-link {
	background:transparent;
	padding:0px;
	border-radius:4px;
}

.nav-link:hover {
	background:#09c;
	padding:0px;
	border-radius:4px;
}

#topmarkotop .navbar-nav li.active > a {
	background-color: #09c;
	border-radius:4px;
} 

/*nav ul li a.active {
	background:#09c;
	border-radius:4px;
}*/

.white {
    color: white !important;
}

.back-biru {
    background: #007bff;
}

.section-padding {
    padding: 100px 0px !important;
}

.biru-2 {
    color: #007bff;
}

.abu {
    color: #aaa;
}

.abu1 {
    color: #777;
}

.abu2 {
    color: #969696;
}

.abu3 {
    color: #999;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-20 {
    font-size: 20px;
}

.font-36 {
    font-size: 36px;
}

.font-40 {
    font-size: 40px;
}

.bold {
    font-weight: bold;
}

.m-b-10{
    margin-bottom: 10px;
}

.m-b-20{
    margin-bottom: 20px;
}

.m-b-30{
    margin-bottom: 30px;
}

.m-b-40{
    margin-bottom: 40px;
}

.m-b-50{
    margin-bottom: 50px;
}

.m-b-100{
    margin-bottom: 100px;
}

.m-t-150{
    margin-top: 150px;
}

.m-t-200{
    margin-top: 200px;
}

.m-t-250{
    margin-top: 250px;
}

.pd-5 {
    padding: 5px;
}

.pd-10 {
    padding: 10px;
}

.pd-15 {
    padding: 15px;
}

.pd-20 {
    padding: 20px;
}

.pd-30 {
    padding: 30px;
}

/*SECTION PROJECT*/

.set-project {
    background-image: url("../image/section.jpg");
}

.hire-me {
    position: relative;
    background-attachment: fixed;
}

.cover-bg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/*END SECTION PROJECT*/

/*SECTION CONTACT*/

.set-contact {
    background-image: url("../image/contact1.jpg");
}

/*END SECTION PROJECT*/


/*SECTION TESTIMONIAL*/


.set-testi {
    background-image: url("../image/testi1.jpg");
}

/*END SECTION TESTINOMIAL*/


/*SET SECTION BLOG*/

.image-circle {
    border-radius: 50%;
}

/*END SET SECTION BLOG*/

/*SECTION CONTACT*/

.part-info {
    position: relative;
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(200, 200, 200, 0.3)), to(transparent));
    background: linear-gradient(to right, transparent, rgba(200, 200, 200, 0.3), transparent);
    padding: 30px;
    margin-bottom: 50px;
}

.set-input {
    color: #fff;
    background: transparent;
    padding: 10px 15px;
    border-radius: 0;
    width: 100%;
    border: transparent;
    border: 1px solid #828282;
    margin-bottom: 15px;
    font-size: 12px;
}

/*END SECTION CONTACT*/



/*SECTION FOOTER*/

.footer {
    position: relative;
    background-color: #212121;
    padding: 80px 0;
}

.set-icon {
    background: #252525;
    border-radius: 45%;
}

/*END SECTION FOOTER*/


.pd-50 {
    padding: 50px;
}

.cursor {
    cursor: pointer;
}

.font-type {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.text-p {
    color: #777;
    font-size: 16px;
}

.border-bottom {
    border-bottom: 1px solid #eaeaea;
}

.border-1 {
    border: 1px solid #eaeaea;
}

.set-button {
    padding: 10px;
    background: #055e7b;
    border: 1px solid #055e7b;
    color: #fff;
}

.set-button:hover {
    padding: 10px;
    background: #09c;
    border: 1px solid #09c;
    color: #fff;
}

.back-skill {
    background: #f7f7f7;
}

.p-absolute {
    position: absolute;
}

.card:hover {
    background: #fdfdfd;
    cursor: pointer;
    box-shadow: 0px 2px 4px 0px #cecece; 
} 

/* = SMOOTH */

#set1
{ 
    margin:50px; 
    padding:50px; 
    background-color:pink; 
}

/* .hideme */
.fade
{
    opacity:0;
}

