body {
    background: url("../image/avatar/back5.png");
    
}

.flex-center {
    justify-content: center;
}

.flex-right {
    justify-content: flex-end;
}

.cursor {
    cursor: pointer;
}

a {
    color: #fff;    
}

a:hover {
    color: #fff;
    background: #09c;    
}

.flex-center {
    display: flex;
    justify-content: center;
}

.set-container {
    background: rgba(255,255,255,0.1);
}

.set-container1 {
    background: rgba(255,255,255,0.2);
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}


.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-24 {
    font-size: 24px;
}

.font-36 {
    font-size: 36px;
}

.font-40 {
    font-size:40px;
}

.putih {
    color: #fff;
}

.biru-2 {
    color: #007bff;
}

.abu {
    color: #aaa;
}

.abu1 {
    color: #777;
}

.abu2 {
    color: #969696;
}

.abu3 {
    color: #999;
}

.set-title {
    font-size: 40px;
    color: #ebebeb;
}

.center {
    text-align: center;
}

/* ==================SET PADDING ===================== */

.pd-5 {
    padding: 5px;
}

.pd-10 {
    padding: 10px;
}

.pd-15 {
    padding: 15px;
}

.pd-20 {
    padding: 20px;
}

.pd-30 {
    padding: 30px;
}


.m-b-10{
    margin-bottom: 10px;
}

.m-b-20{
    margin-bottom: 20px;
}

.m-b-30{
    margin-bottom: 30px;
}

.m-b-40{
    margin-bottom: 40px;
}

.m-b-50{
    margin-bottom: 50px;
}

.m-b-75{
    margin-bottom: 75px;
}

.m-b-100{
    margin-bottom: 100px;
}

/* =================================== HEADER ================ */

.set-navigate {
    margin-top: 54px;
    margin-left: 56px;
}

.set-navigate1 {
    margin-left: 56px;
}

.button-set {
    BACKGROUND: transparent;
    border: 1px solid #09c;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    padding: 3px 15px;
}
.button-set:hover {
    BACKGROUND: transparent;
    border: 1px solid #09c;
    box-shadow: 0px 1px 1px 0px #09c;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    padding: 3px 15px;
}

.button-set1 {
    BACKGROUND: #09c;
    border: 1px solid #09c;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    padding: 3px 15px;
}

.button-set1:hover {
    BACKGROUND: #017196;
    border: 1px solid #09c;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    padding: 3px 15px;
}

.button-set2 {
    BACKGROUND: transparent;
    border: 1px solid #09c;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    padding: 3px 50px;
}
.button-set2:hover {
    BACKGROUND: transparent;
    border: 1px solid #09c;
    box-shadow: 0px 1px 1px 0px #09c;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    padding: 3px 50px;
}


/* ==========================CONTENT==================== */
.border-right {
    border-right: 2px solid #09c;
}

.set-col-4 {
    padding: 35px;
    background: rgba(255,255,255,0.1);
    color: #fff;
    border: 1px solid #007ea8;
}

/* ===================SETTINGAN CARD====================== */

.card-n1 {
    /* background: rgba(255,255,255,0.1); */
    background: transparent;
    /* border: 1px solid #09c; */
    border:none !important;
    color: #ebebeb;
}

.card-footer-n1 {
    background: none;
    border-top: none;
}


